.photo {
  border-radius: 5px;
  overflow: hidden;
  max-width: 100%;
}

.image {
  object-fit: cover;
}

.noImage {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}
