.about-page {
  h1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  img {
    filter: grayscale(35%);
    margin: 0 auto 10px;
    height: auto !important;
    position: static !important;
  }

  .holder {
    padding-bottom: 40px;

    p {
      &:last-of-type {
        font-weight: bold;
      }
    }
  }
}
