.index-page {
  .social-networks {
    position: fixed;
    right: 0;
    top: 50%;
    background: $black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateY(-50%);

    li {
      animation: 0.5s ease-in 0s 1 slideInFromLeft forwards;
      transform: translateX(200%);

      &:nth-child(1) {
        animation-delay: 0.4s;
      }

      &:nth-child(2) {
        animation-delay: 0.6s;
      }
    }
  }
}

.social-networks {
  @extend %listreset;
  padding: 20px 10px;

  li {
    padding-top: 10px;

    &:first-child {
      padding-top: 0;
    }

    a {
      display: block;
      font-size: 25px;
      text-align: center;

      &:hover {
        color: $white;
      }
    }
  }

  img {
    width: 22px;
  }
}
