// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// transition
%transition {
  transition: all 0.3s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
